<p>
ModelOne id:{{ContentData.id}} <br>
ModelOne content: {{ContentData.content}}
</p>
<p>
ModelTwo id:{{subContentData.id}} <br>
ModelTwo subcontent: {{subContentData.SubContent}} <br>
ModelTwo one_id: {{subContentData.one_id}}
</p>
