<p>
ModelOne id:{{ContentData.id}} <br>
ModelOne content: {{ContentData.content}}
</p>
<p>
ModelTwo id:{{subContentData.id}} <br>
ModelTwo subcontent: {{subContentData.SubContent}} <br>
ModelTwo one_id: {{subContentData.one_id}}
</p>

<div class="row">
  <div class="col-md-6">

        {{#if logged_in}}
            <h2>Logged In!</h2>
            <h2>Developer info: req.session.logged_in = {{logged_in}}</h2> |
            <button class="no-button" id="logout">logout</button>
        {{else}}
        <h2>NOT Logged In!</h2>
        <h2>Developer info: req.session.logged_in = {{logged_in}}</h2>
        <a href="/">login</a>
        {{/if}}


</div>

<a href="/">Go back to homepage</a>

<script src="./js/logout.js"></script>
